<div>
  <h1>SISTEMA ACTIVO - usuario
    {{user.lastName}},
    {{user.firstName}}
    ({{user.age}})</h1>

    
  {{#if isAdmin}}
    <ul>
      {{#each foods}}
        <li> {{this.name}} ({{this.price}}) </li>
      {{/each}}
    </ul>
  {{/if}}
</div>